body {
    background-color: #655b47;
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    margin: 0;
    margin-top: -45px;
}

h2 {
    font-family: cursive;
    text-align: center;
    font-size: 30px;
    color: #393328;
}

h3 {
    font-family: cursive;
    text-align: center;
    font-size: 25px;
    color: rgb(132, 119, 94);
}

header {
    background-color: #615641;
    width: 100%;
    height: 100px;
    font-family: cursive;
    text-align: center;
    font-size: 30px;
    color: #393328;
}

footer {
    background-color: #615641;
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
}

.playagain {
    display: block;
    height: 80px;
    width: 350px;
    background: url( 'Again.png' ) no-repeat center;
    background-size: contain;
    text-indent: -9999px;
    margin-left: 80%;
    margin-bottom: 20%;
  }

  .back {
    display: block;
    height: 80px;
    width: 350px;
    background: url( 'Back.png' ) no-repeat center;
    background-size: contain;
    text-indent: -9999px;
    margin-left: 80%;
  }

  .snake_board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .score {
    position: absolute;
    font-family: cursive;
    font-size: 70px;
    color: #000000;
    margin-left: -60%;
  }